# PORT for Express to run on
PORT=5001

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mindtrace

# Secret array used for hashing JWT authentication tokens
JWT_SECRET=generate_a_random_32_character_string

# Python AI Service endpoint URL
FASTAPI_URL=https://mindtrace-ai-service.onrender.com

# URL of the Vercel frontend deployed application (used for CORS)
FRONTEND_URL=https://mindtrace-frontend.vercel.app

# API Key for Language Generation
MISTRAL_API_KEY=your_mistral_api_key_here
